# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env
.mypy_cache/
.ruff_cache/

# Go
bin/
processor/bin/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# TEMP
TEMP.md

# CERT
*.pfx

# PROD
shioaji.log
provider/logs/*
!provider/logs/.gitkeep
provider/data/*
!provider/data/.gitkeep
